.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 140px;
  background: #fff;
  padding: 36px 32px;
}

.header {
  font-size: 18px;
  color: #4f4f4f;
  letter-spacing: -0.035em;
}

.bar {
  position: relative;
  width: 100%;
  height: 6px;
  background: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
}

.bar::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #2f80ed;
  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
